  a:link {
    color: blue;
  }
  a:visited {
    color: blue;
  }
  a:hover {
    color: #008000;
  }
  a:active {
    color: rgb(135, 225, 200);
  }

body {
    background-size:360px 300px; 
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    background-attachment: fixed;
}

header {
    background: linear-gradient(90deg, rgb(156, 230, 223),rgb(115, 222, 179));
}

header h2{
    color:rgb(20, 17, 17);
}

header h3{
    color:#50525c;
}

.bigtitle h2{
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

.nowgoing {
    line-height: 1;
}

.nowgoing h2{
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.nowgoing h5{
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

.accordion {
    color:#3b5b50;
    background: linear-gradient(90deg, rgb(156, 230, 223),rgb(115, 222, 179));
    cursor: pointer;
    padding: 18px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  }
  
  .panel {
    list-style-type: none;
    margin: 0;
    padding: 0 18px;
    background-color: #fefcf3;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease;
    line-height:1.0;
  }
  .panel li {
    margin: 10px; 
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    font-size:10px;
    font-weight:bold;
  }



.hp {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.hp a{
    margin : 0;
    padding : 0;
}

.insta {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background :white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.insta a{
    margin : 0;
    padding : 0;
}

.x{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.x a{
    margin : 0;
    padding : 0;
}

.nada{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.nada a{
    margin :0;
    padding :0;
}

.attention{
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

footer {
    background: linear-gradient(90deg, rgb(156, 230, 223),rgb(115, 222, 179));
    height :200px;
    color:#50525c;
    margin: 0;
    padding: 0;
}
