body {
    background: linear-gradient(90deg, rgb(233, 243, 234), rgb(224, 227, 205));
}

header {
    background: linear-gradient(90deg, rgb(156, 230, 223),rgb(115, 222, 179));
    color:#50525c;
}

.bigtitle h2{
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

.nowgoing h2{
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.nowgoing h5{
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

.Day1 h4{
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.Day2 h4{
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

.hp {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.hp a{
    margin : 0;
    padding : 0;
}

.insta {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background :white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.insta a{
    margin : 0;
    padding : 0;
}

.x{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.x a{
    margin : 0;
    padding : 0;
}

.nada{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.nada a{
    margin :0;
    padding :0;
}

.attention{
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

footer {
    background: linear-gradient(90deg, rgb(156, 230, 223),rgb(115, 222, 179));
    height :200px;
    color:#50525c;
}
